<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My Team
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>


  <ng-container *ngIf="favoritePokemonWithLinkDTO">
    <app-pokemon-card *ngFor="let pokemon of favoritePokemonWithLinkDTO" [id]='pokemon.pokemonId' [url]='pokemon.url'></app-pokemon-card>
  </ng-container>

</ion-content>
