ion-header {
  background-color: #333;
  color: #fff;
}

ion-toolbar {
  display: flex;
  justify-content: center;
}

ion-title {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
}

.transaction {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}


.transaction p {
  font-size: 2em;
  margin: 0 20px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

ion-button {
  margin: 0 10px;
}
