<ion-header>
  <ion-toolbar>
    <ion-title>Buy Booster</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card >
      <ion-card-content class="Preview">
        <img src="../../../assets/images/Gen1.png" class="buyBoosterImage" alt="">
      </ion-card-content>

      <ion-footer>
        <ion-button color="success" (click)="confirmPurchase()">Confirm purchase</ion-button>
        <ion-button color="medium" (click)="dismissModal()">Cancel</ion-button>
      </ion-footer>
    </ion-card>

</ion-content>
